---

## either disable
- name: Disable IPv6 with sysctl
  sysctl: name={{ item }} value=1 state=present reload=yes
  with_items:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6

- name: Debian | blacklist ipv6 in modprobe
  ansible.builtin.lineinfile:
    dest: /etc/modprobe.d/blacklist.conf
    line: 'blacklist ipv6'
    mode: '0644'
    create: yes
  notify:
    - Rmmodipv6
  when: ansible_os_family == 'Debian'

- name: RedHat | placeholder true for ipv6 in modprobe
  ansible.builtin.lineinfile:
    dest: /etc/modprobe.conf
    line: 'install ipv6 /bin/true'
    mode: '0644'
    create: yes
  notify:
    - Rmmodipv6
  when: ansible_os_family == 'RedHat'

- name: RedHat | disable ipv6 in sysconfig/network
  ansible.builtin.lineinfile:
    dest: /etc/sysconfig/network
    regexp: "^{{ item.regexp }}"
    line: "{{ item.line }}"
    mode: '0644'
    backup: yes
    create: yes
  with_items:
    - { regexp: 'NETWORKING_IPV6=.*', line: 'NETWORKING_IPV6=NO' }
    - { regexp: 'IPV6INIT=.*', line: 'IPV6INIT=no' }
  notify:
    - Restart network
    - Restart NetworkManager
  when: ansible_os_family == 'RedHat'

- import_tasks: ipv6-grub-disable.yml

## either control router sollicitation/advertisement to avoid malicious rerouting of IPv6
## Monitor?
##  https://thc.org/thc-ipv6/
##  http://www.si6networks.com/tools/ipv6toolkit/
## Filter?

## State: http://6lab.cisco.com/stats/
