---
## Ubuntu16.04: rmmod: ERROR: Module ipv6 is builtin.
- name: rmmodipv6
  command: rmmod ipv6
  ignore_errors: true
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: modipv6
  command: modprobe ipv6
  ignore_errors: true
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: restart network
  service: name=network state=restarted
  when: not (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")
